:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --hero-background-color: #c4c4c4;
  --portfolio-buttons-font-color: #f5f4fa;
  --header-bg-color: #2f303a;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primery-font-size: 14px;
  --button-font-size: 16px;
  --logo-font-size: 26px;
  --title-font-size: 36px;
  --modal-font-size: 12px;
  --primery-line-height: 1.71;
  --secondary-line-height: 1.14;
  --button-line-height: 1.88;
  --logo-line-height: 1.19;
  --modal-line-height: 1.17;
  --normal-font-weight: 400;
  --bold-font-weight: 700;
}

body {
  background-color: var(--primery-white-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* border: solid 2px red; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  background-color: var(--primery-white-color);
  border-bottom: solid 1px #ececec;
}

.header {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .main-nav {
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    padding: 0;
  }
}

.header__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: color 250ms var(--timing-function);
}

.header__button:hover, .header__button:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms var(--timing-function);
  padding-left: 40px;
  padding-top: 48px;
  width: 100vw;
  height: 100vh;
  background-color: var(--primery-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.site-nav {
  display: flex;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item + .site-nav__item {
  margin-left: 40px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: var(--primery-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link.current {
  color: var(--accent-color);
}

.site-nav__link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-us {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contact-us {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-us {
    margin: 0;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact-us {
    margin-left: auto;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .contact-us__item + .contact-us__item {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact-us__item + .contact-us__item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .contact-us__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contact-us__link {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: var(--primery-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.contact-us__link:hover, .contact-us__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contact-us__link {
    font-size: 14px;
    line-height: 1.17;
  }
}

.contact-us__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: var(--bold-font-weight);
  font-size: var(--logo-font-size);
  line-height: var(--logo-line-height);
}

.header__logo {
  margin-right: 93px;
}

@media screen and (max-width: 1199px) {
  .header__logo {
    margin: 0;
  }
}

.footer__logo {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--primery-white-color);
}

.logo-name {
  color: var(--accent-color);
}

.header__logo-name {
  color: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-background-color);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--primery-white-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
    font-size: var(--logo-font-size);
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: var(--logo-font-size);
    line-height: 1.62;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  display: inline-block;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: var(--bold-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-right__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 28px;
}

@media screen and (min-width: 480px) {
  .footer-right__button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--modal-line-height);
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .section__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .features-block {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features-block {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-block {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features-block__list {
    width: 100%;
  }
  .features-block__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-block__list {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-block__list {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.features-block__title {
  color: var(--title-text-color);
  font-weight: var(--bold-font-weight);
  font-size: var(--primery-font-size);
  line-height: var(--secondary-line-height);
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .features-block__title {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.features-block__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--portfolio-buttons-font-color);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .features-block__icon {
    width: 100%;
  }
}

.features-block__text {
  font-size: var(--primery-font-size);
  line-height: var(--primery-line-height);
}

.section.work {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section.work {
    display: none;
  }
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;
  align-items: center;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: var(--bold-font-weight);
  font-size: var(--primery-font-size);
  line-height: var(--secondary-line-height);
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.section.team {
  background-color: var(--portfolio-buttons-font-color);
}

@media screen and (min-width: 480px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.team-list__card {
  align-items: center;
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list__card {
    width: 100%;
  }
  .team-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__card {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__card {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.team-list__block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: var(--button-font-size);
  line-height: var(--logo-line-height);
  text-align: center;
}

.team-list__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: var(--button-font-size);
  line-height: var(--logo-line-height);
  text-align: center;
}

.team-list__socials {
  display: flex;
  justify-content: center;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.team__socials-item {
  width: 44px;
  height: 44px;
}

.team__socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-item__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms var(--timing-function);
}

.socials-item__link:hover, .socials-item__link:focus {
  background-color: var(--accent-color);
}

.socials-item__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}

.socials-item__link:hover .socials-item__icon,
.socials-item__link:focus .socials-item__icon {
  fill: var(--primery-white-color);
}

.footer-center__socials-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.footer-center__socials-link:hover, .footer-center__socials-link:focus {
  background-color: var(--accent-color);
}

.footer-center__social-icon {
  fill: var(--primery-white-color);
}

@media screen and (min-width: 480px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 480px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clients__item {
  height: 92px;
}

@media screen and (min-width: 480px) {
  .clients__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--header-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: initial;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 480px) {
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-left {
    margin-left: 76px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-left {
    width: 231px;
    margin: 0;
    align-items: flex-start;
  }
}

.footer-center {
  display: block;
}

@media screen and (min-width: 480px) {
  .footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-center {
    width: 206px;
    margin: 0;
  }
}

.footer-center__title {
  margin-top: 0;
  margin-bottom: 20px;
  width: 145px;
  height: 16px;
  font-size: var(--primery-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.footer-center__list {
  display: flex;
}

.footer-center__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 480px) {
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-right {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-right {
    position: relative;
    display: block;
    width: 570px;
    margin: 0;
  }
}

.footer-right__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: var(--bold-font-weight);
  font-size: var(--primery-font-size);
  line-height: var(--secondary-line-height);
  text-transform: uppercase;
  color: var(--primery-white-color);
}

@media screen and (min-width: 480px) {
  .footer-form {
    width: 100%;
  }
}

.footer-form input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: inherit;
  color: var(--primery-white-color);
}

@media screen and (min-width: 480px) {
  .footer-form input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form input {
    margin-right: 12px;
    margin-bottom: 20px;
    width: 358px;
  }
}

.footer-form .footer-right__button-icon {
  margin-left: 10px;
  fill: var(--primery-white-color);
}

@media screen and (min-width: 1200px) {
  .footer-form .footer-right__button-icon {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__block {
    display: flex;
    justify-content: center;
  }
}

.adress {
  color: var(--primery-white-color);
  font-style: normal;
  font-size: var(--primery-font-size);
  line-height: var(--primery-line-height);
  height: 81px;
}

.adress .link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}

.adress .link:nth-child(1) {
  color: var(--primery-white-color);
}

.adress .link:not(:last-child) {
  margin-bottom: 9px;
}

.adress .link:hover, .adress .link:focus {
  color: var(--accent-color);
}

.adress .link a:first-child {
  color: var(--primery-white-color);
}

@media screen and (max-width: 1199px) {
  .adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primery-white-color);
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 250ms var(--timing-function);
  cursor: pointer;
  background-color: var(--primery-white-color);
}

.modal__close-button:hover {
  fill: var(--accent-color);
}

.modal__title {
  margin: 0px 0px 12px 0px;
  padding-top: 40px;
  padding-left: 45px;
  padding-right: 42px;
  font-weight: var(--bold-font-weight);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal__form {
  width: 448px;
  height: 342px;
  margin-left: 40px;
  margin-right: 40px;
}

.modal__form-field {
  position: relative;
  display: flex;
  width: 100%;
  height: 58px;
  margin-bottom: 10px;
}

.modal__form-label {
  font-weight: var(--normal-font-weight);
  font-size: var(--modal-font-size);
  line-height: var(--modal-line-height);
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 448px;
}

.modal__input-block input {
  width: 100%;
  height: 40px;
}

.modal__form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: 250ms var(--timing-function);
}

.modal__form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: 250ms var(--timing-function);
}

.modal__form-field:focus-within .modal__input-icon {
  fill: var(--accent-color);
}

.modal__form-field.comment {
  display: flex;
  flex-direction: column;
  width: 448px;
  height: auto;
  margin-bottom: 20px;
}

.modal__form-field-text .comment {
  display: block;
  margin-bottom: 4px;
}

.modal__form-field textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-checkbox {
  width: 100%;
  margin-bottom: 30px;
}

.modal__checkbox-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid #212121;
  fill: none;
  transition: 250ms var(--timing-function);
}

.modal__checkbox-input:checked + .modal__checkbox-icon {
  border-color: transparent;
  background-origin: border-box;
  background-color: var(--accent-color);
  fill: var(--primery-white-color);
}

.modal__checkbox-text {
  font-weight: var(--normal-font-weight);
  font-size: var(--primery-font-size);
  line-height: var(--primery-line-height);
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__checkbox-text a {
  color: var(--accent-color);
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  transition: 250ms var(--timing-function);
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-title {
  color: var(--title-text-color);
}

.projects-nav {
  display: flex;
  justify-content: center;
}

.projects-nav .button {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--portfolio-buttons-font-color);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  font-weight: 500;
  font-size: var(--button-font-size);
  line-height: 1.62;
  text-align: center;
}

.projects-nav .button:hover, .projects-nav .button:focus {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-nav .item:not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.projects-list .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primery-text-color);
  font-size: var(--button-font-size);
  line-height: 1.87;
}

.projects-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms var(--timing-function);
}

.projects-list-item:hover, .projects-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-item .border {
  border-top: 0px;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}

.projects-list-item:nth-child(3n) {
  margin-right: 0;
}

.projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-list-thumb {
  position: relative;
  overflow: hidden;
}

.projects-thumb-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primery-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.projects-list-item:hover .projects-thumb-text {
  transform: translateX(0);
}

.border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms var(--timing-function);
  padding-left: 40px;
  padding-top: 48px;
  width: 100vw;
  height: 100vh;
  background-color: var(--primery-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__button {
  position: absolute;
  right: 25px;
  top: 21px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: color 250ms var(--timing-function);
}

.mobile-menu__button:hover, .mobile-menu__button:focus {
  fill: var(--accent-color);
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 302px;
}

.mobile-menu-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

.mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
  color: var(--accent-color);
}

.mobile-menu-nav__link.current {
  color: var(--accent-color);
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__contact-us {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 64px;
}

.mobile-menu-nav__contact-us--tel {
  display: block;
  margin-bottom: 32px;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
}

.mobile-menu-nav__contact-us--email {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu-nav__link--separator {
  margin-right: 10px;
  margin-left: 10px;
  color: var(--primery-text-color);
}

.mobile-menu-nav__socials {
  display: flex;
}

.mobile-menu-nav__socials .mobile-menu-nav__link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */