:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --hero-background-color: #c4c4c4;
  --portfolio-buttons-font-color: #f5f4fa;
  --header-bg-color: #2f303a;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primery-font-size: 14px;
  --button-font-size: 16px;
  --logo-font-size: 26px;
  --title-font-size: 36px;
  --modal-font-size: 12px;

  --primery-line-height: 1.71;
  --secondary-line-height: 1.14;
  --button-line-height: 1.88;
  --logo-line-height: 1.19;
  --modal-line-height: 1.17;

  --normal-font-weight: 400;
  --bold-font-weight: 700;
}
