.features-block {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.features-block__list {
  @media screen and (max-width: 767px) {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.features-block__title {
  // margin-top: 0;
  // margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: var(--bold-font-weight);
  font-size: var(--primery-font-size);
  line-height: var(--secondary-line-height);
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.features-block__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  // width: 270px;
  height: 120px;
  background-color: var(--portfolio-buttons-font-color);
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    width: 100%;
  }
}

.features-block__text {
  // margin-top: 0;
  // margin-bottom: 0;

  font-size: var(--primery-font-size);
  line-height: var(--primery-line-height);

  :not(:last-child) {
    // margin-right: 30px;
  }
}
