.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-title {
  color: var(--title-text-color);
}

.projects-nav {
  display: flex;
  justify-content: center;

  & .button {
    padding: 6px 22px;
    color: var(--title-text-color);
    background-color: var(--portfolio-buttons-font-color);
    border-radius: 4px;

    transition: background-color 250ms var(--timing-function),
      color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);

    font-weight: 500;
    font-size: var(--button-font-size);
    line-height: 1.62;
    text-align: center;

    &:hover,
    &:focus {
      color: var(--primery-white-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  & .item:not(:last-child) {
    margin-right: 8px;
  }
}

.projects-list {
  margin-top: 50px;
  margin-bottom: 0;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
  list-style: none;

  & .title {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  & .text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primery-text-color);

    font-size: var(--button-font-size);
    line-height: 1.87;
  }
}

.projects-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  & .border {
    border-top: 0px;
    border-left: solid 1px rgba(238, 238, 238, 1);
    border-right: solid 1px rgba(238, 238, 238, 1);
    border-bottom: solid 1px rgba(238, 238, 238, 1);
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.projects-list-thumb {
  position: relative;
  overflow: hidden;
}

.projects-thumb-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  width: 100%;
  height: 100%;

  padding: 63px 24px;
  margin: 0;

  font-size: 18px;
  line-height: 1.56;
  color: var(--primery-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  .projects-list-item:hover & {
    transform: translateX(0);
  }
}

.border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
