.section {
  &.team {
    background-color: var(--portfolio-buttons-font-color);
  }
}

.team-list {
  // display: flex;
}

.team-list__card {
  align-items: center;
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    // margin-right: 30px;
  }

  @media screen and (min-width: 480px) {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.team-list__block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: var(--button-font-size);
  line-height: var(--logo-line-height);
  text-align: center;
}

.team-list__text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: var(--button-font-size);
  line-height: var(--logo-line-height);
  text-align: center;
}

.team-list__socials {
  display: flex;
  justify-content: center;
}
